* {
  margin: 0;
  padding: 0;
}

html {
  font-family: arial;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  margin: 30px;
  background-color: transparent;
  border: 2px dashed black;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  background-color: #000;
  color: white;
}

ul {
  margin-left: 50px;
}